<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nysa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_luncher"
        android:label="@string/app_name"
        android:name=".NysaApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterAllergies"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountSettings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Library"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".SymptomTrack" />
        <activity android:name=".ChatBot"
            android:screenOrientation="portrait"/>
        <activity android:name=".Article"></activity>
    </application>

</manifest>