<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nysa.nysa_20">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".service.QRService.QRGenerator"></activity>
        <activity android:name=".activity.ManagementDoctorsActivity" />
        <activity android:name=".service.QRService.QRReader" />
        <activity android:name=".activity.SymptomEntryActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.ChatBotActivity" />
        <activity android:name=".activity.AllergyRegisterActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>